/* Colors */
$black: #0D1E38;
$black-dark: #040912;
$black-light: #1b3e74;

$white: #ffffff;
$white-dark: #f1f0fb;
$white-light: #f6f6fb;

$blue: #6A7CBE;
$blue-dark: #404AA4;
$blue-light: #8AA1D2;

$orange: #CAA466;
$orange-dark: #B5803D;
$orange-light: #f8e1b0;

$green: #5B7D39;
$green-dark: #374B22;
$green-light: #76A34A;

$brand: #1864DA;
$brand-dark: #0f479b;
$brand-light: #4787e8;

$red: #c25020;
$red-dark: #a64319;
$red-light: #d75d29;

$mint: #91aa72;
$mint-dark: #576d3c;
$mint-light: #D5E2C6;

$gray: #DBD7E1;
$gray-dark: #CDC7D5;
$gray-light: #E6E3EA;

/* Borders */

$border: 1px solid rgba($black, 0.1);


/* Fonts */
$font-family-main: 'Noto Sans', sans-serif;
$font-family-secondary: 'Noto Sans', sans-serif;
$font-size-xxs: 10px;
$font-size-base: 12px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-max: 40px;
$font-size-mega: 60px;

$multiplier: 1.4;
$multiplier-sm: 1.14;

/* Border-radius */
$br-xs: 0.1rem;
$br-sm: 0.2rem;
$br-md: 0.4rem;
$br-lg: 0.8rem;
$br-xl: 1.6rem;
$br-xxl: 3.2rem;

/* Spacing */
$spacing-xxxs: 0.25rem;
$spacing-xxs: 0.4rem;
$spacing-xs: .85rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 8rem;
$spacing-xxl: 16rem;

/* Positioning */
$p-desktop: 1rem;
$p-tablet: 0.75rem;
$p-mobile: 0.5rem;

/* Widths */
$width-sm: 30rem;
$width-md: 50rem;
$width-lg: 70rem;
$width-xl: 90rem;

/* Shadows */
$main-shadow: 0px 3px 5px rgba($black, 0.025), 0px 2px 2px rgba(0, 0, 0, 0.025), 0px 4px 4px rgba($black, 0.01);
$big-shadow: 0px 0px 1px 1px rgba($brand, 0.1), 0px 20px 18px rgba($black, 0.1), 0px 20px 28px rgba($black, 0.05), 0px 6px 25px rgba($black, 0.01);
$soft-shadow: 0px 1px 1px rgba($black, 0.05), 0px 8px 8px rgba($black, 0.05);
$small-shadow: rgba($black, 0.04) 0px 1px 6px 0px, rgba($black, 0.12) 0px -2px 4px 0px inset, rgba($black, 0.14) 0px -1px 2px 0px inset;
